# fly.toml app configuration file generated for divemap-frontend on 2025-08-18T22:29:18+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'divemap-frontend'
primary_region = 'fra'

[build]

[env]
  NODE_ENV = 'production'

[processes]
  app = 'npx serve -s dist -l 8080'

[http_service]
  internal_port = 8080
  force_https = false
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
